<div class="container">
  <img src="/assets/santa.png" class="santa" alt="" />
  <h1 class="title">
    {{ "PAGES.HOME.TITLE" | translate }}
  </h1>

  <div class="input-wrapper">
    <input
      class="code"
      type="text"
      placeholder="Введите секретный код"
      [(ngModel)]="code"
    />
  </div>

  <div class="btn-wrapper">
    <button type="button" (click)="getWisher()">
      <img src="/assets/candle.svg" alt="" /> Узнать кому дарить
    </button>
  </div>

  <p *ngIf="wisher" class="whisher">
    <small>Ваш одариваемый(ая):</small><br /><br />
    {{ wisher }}
  </p>

  <p>
    <a routerLink="/data-generator">{{
      "PAGES.DATA-GENERATOR.TITLE" | translate
    }}</a>
  </p>
</div>
